/* base.css for landing pages */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.15;
  color: #333333;
  text-align: left;
  background-color: #fcfcfc; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #1330bf;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #d41010;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  display: block;
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: .25rem;
  padding-bottom: .25rem;
  color: #666666;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

body.rtl {
  text-align: right; }

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1rem;
  width: 100%; }

.wrapper-nopad {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
  width: 100%; }

.sr-only {
  display: none;
  overflow: hidden;
  visibility: hidden; }

#site-header {
  background-color: #fcfcfc;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.header-wrapper {
  border-bottom: 1px solid #eee;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.header-wrapper img {
  height: 30px;
  width: auto; }

.logo,
.logo > a {
  display: block;
  width: 75px; }

.logo {
  float: left; }

ul.social {
  display: block;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0; }

ul.social > li {
  display: block;
  float: left;
  margin-left: .5rem; }

body.rtl ul.social > li {
  margin-left: 0;
  margin-right: .5rem; }

.live-video {
  background-color: #eee;
  padding-bottom: 1.5rem; }

.yt-embed {
  cursor: pointer;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.yt-embed iframe,
.yt-embed object,
.yt-embed embed,
.yt-embed .yt-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.yt-embed .yt-placeholder {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 25; }

.yt-embed .yt-overlay {
  background: transparent url(../img/yt-embed-overlay.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: .8;
  width: 100%;
  z-index: 50;
  transition: opacity .5s; }

.yt-embed .yt-overlay:hover {
  opacity: 1; }

.yt-meta h1 {
  color: #222;
  font-weight: normal;
  padding-top: 1rem;
  margin-bottom: .5rem; }

.yt-meta p {
  color: #666;
  line-height: 1.35; }

.yt-button {
  background-color: #f00;
  border-radius: 4px;
  color: #fcfcfc;
  display: inline-block;
  font-size: .8rem;
  font-weight: bold;
  padding: .5em;
  text-decoration: none; }

.yt-button:hover {
  background-color: #cc0000;
  color: #fcfcfc;
  text-decoration: none; }

#site-footer {
  background-color: #1330bf;
  color: #fcfcfc;
  margin-top: 2rem;
  text-align: center; }

h2.latest-news {
  background-color: #444;
  color: #fcfcfc;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 .5rem 0;
  padding: .5em 1em;
  text-align: center; }

.news-item {
  border-top: 1px solid #eee;
  color: #222;
  display: block;
  padding: .75rem 0;
  text-decoration: none;
  width: 100%; }

.news-item:nth-child(1) {
  border-top: none; }

.news-item:hover {
  text-decoration: none; }

.news-item > .news-img {
  float: left;
  width: 40%; }

.news-item > .news-img > img {
  height: auto;
  width: 100%; }

.news-item .news-text {
  float: left;
  padding-left: 1rem;
  width: 60%; }

body.rtl .news-item .news-text {
  padding-left: 0;
  padding-right: 1rem; }

.news-item h3 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.35;
  margin-bottom: .25rem;
  padding-top: .1rem; }

.news-item:hover h3 {
  color: #1330bf; }

.news-item p {
  color: #666;
  font-size: .85rem;
  margin-bottom: 0; }

.news-item:hover p {
  color: #666; }

.news-item:after {
  content: "";
  display: table;
  clear: both; }

#site-footer p {
  margin: 0; }

#site-footer a {
  color: #fcfcfc;
  display: inline-block;
  padding: .75rem 0;
  text-decoration: none; }

@media (min-width: 360px) {
  .header-wrapper img {
    height: 36px; }

  ul.social > li {
    margin-left: .75rem; }

  body.rtl ul.social > li {
    margin-left: 0;
    margin-right: .75rem; } }
@media (min-width: 750px) {
  .header-wrapper {
    padding-bottom: 1.5rem; }

  .header-wrapper img {
    height: 48px; }

  ul.social > li {
    margin-left: 1rem; }

  body.rtl ul.social > li {
    margin-left: 0;
    margin-right: 1rem; }

  .yt-meta {
    padding: 1rem 2rem; }

  .yt-button {
    font-size: 1rem; }

  h2.latest-news {
    text-align: left;
    padding: .5em 2em; }

  .news-item {
    display: inline-block;
    margin: 0;
    padding: 1rem;
    vertical-align: top;
    width: 49.5%; }

  .news-item:nth-child(1),
  .news-item:nth-child(2) {
    border-top: none; }

  .news-item:nth-child(2n+1) {
    padding-right: 2rem; }

  .news-item:nth-child(2n+2) {
    padding-left: 2rem; } }

/*# sourceMappingURL=base.css.map */
